.btn {
  font-family: inherit;
  background: none;
  border: 2px solid transparent;
  border-radius: 60px;
  color: inherit;
  cursor: pointer;
  padding: 12px 24px;
  font-size: 24px;
  text-transform: lowercase;
  transition: all ease 0.2s;
  white-space: nowrap;
}
.btn.fill {
  background-color: #fcaab9;
}
.btn.outline {
  border-color: #fcaab9;
}
.btn.fill.accent {
  background-color: #f84867;
  box-shadow: 0 1px 12px #fa7990;
  color: #fffdfe;
}
@media (hover: hover) {
  .btn:hover {
    background-color: #fa7990;
    border-color: transparent;
    transform: translateY(-1px);
    box-shadow: 0 1px 4px #c5aeb2;
  }
  .btn.fill.accent:hover {
    box-shadow: 0 3px 14px 2px #fa7990;
  }
}
